@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.cdnfonts.com/css/star-wars');

@font-face {
  font-family: "Pokemon Pixel Font";
  src: url("/assets/PokemonWebFont/PKMN-RBYGSC.woff");
  src: url("/assets/PokemonWebFont/PKMN-RBYGSC.woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  background-color: #161d20;
  overflow: initial;
  height: auto;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.08);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #111618;
}

*::-webkit-scrollbar-thumb {
  background-color: #192125;
  border-radius: 20px;
  border: 0px;
}

/*Universal and Containers*/
.main-container {
  overflow-x: hidden;
  background-color: #161d20;
  z-index: 0;
}

/* Animations */
.navbar-fade-in {
  opacity: 0;
  transition: 3s;
}

.navbar-fade-in.show {
  opacity: 1;
}

.animate-in-zoom {
  transform: scale(.95);
  opacity: 0;
  transition: .7s;
}

.animate-in-zoom.show {
  opacity: 1;
  transform: scale(1);
}

.animate-out-zoom {
  transform: scale(1.05);
  opacity: 0;
  transition: .7s;
}

.animate-out-zoom.show {
  opacity: 1;
  transform: scale(1);
}

.animate-in-down {
  opacity: 0;
  transition: 2s;
}

.animate-in-down.show {
  opacity: 1;
}

.animate-in-slow {
  opacity: 0;
  transition: 3s;
}

.animate-in-slow.show {
  opacity: 1;
}

/*Universal Classes*/
.card-background {
  background-image: linear-gradient(0deg,
      rgba(17, 22, 25, 0.1),
      rgba(30, 43, 46, 0.1)), url("/assets/bg10.jpg");
  background-size: cover;
}

.card-style {
  backdrop-filter: blur(30px);
  padding: 20px;
  color: #bdcace;
  font-size: 2rem;
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 0.5);
  scroll-margin-top: 9rem;
}

.card-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  z-index: 1;
  padding-bottom: 30px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  scroll-margin-top: 5.7rem;
  background-color: #161d20;
}

.parallax img {
  width: 110%;
  filter: brightness(90%) blur(30px);
}

.parallax-header-style-1 {
  max-height: 26vh;
}

.parallax-header-style-2 {
  max-height: 31vh;
}

.card-title h1 {
  font-size: 3.5rem;
  color: #dadcdd;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-text-blip {
  font-size: 1.5rem;
  margin-right: 100px;
}

.card-text-blip a {
  color: #bdcace;
  font-weight: 400;
  text-decoration: underline;
}

#projects,
#skills,
#education,
#experience,
#contact {
  scroll-padding-top: 150rem;
}

h3 {
  font-size: 2.2rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


.horizontal-line {
  height: 0.5px;
  background-color: #314246;
  margin: 20px 0px;
  margin-left: auto;
  margin-right: auto;
}

.half-width-line {
  width: 50%;
}

/*Navbar*/
.my-navbar {
  padding: 20px;
  background: linear-gradient(180deg,
      rgb(0, 0, 0) 0%,
      rgba(255, 255, 255, 0) 100%);
  width: 100%;
  font-size: 1.3rem;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.5);
  backdrop-filter: blur(15px);
  z-index: 100;
}

.nav-left a {
  color: #dadcdd;
  font-weight: 500;
  text-decoration: none;
  font-size: 2rem;
}

.nav-right a {
  color: #dadcdd;
  text-decoration: none;
  margin: 10px;
}

.navlink {
  transition: 200ms;
}

/*Mobile Navbar*/
#mobile-nav {
  padding: 20px 10px 20px 10px;
  background: linear-gradient(180deg,
      rgb(0, 0, 0) 0%,
      rgba(255, 255, 255, 0) 100%);
  width: 100%;
  color: #dadcdd;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.5);
  backdrop-filter: blur(15px);
  position: fixed;
  z-index: 100;
  height: 75px;
  overflow: hidden;
  transition: height 0.2s ease-out;
  visibility: hidden;
}

.mobile-left a {
  color: #dadcdd;
  text-align: left;
  text-decoration: none;
  font-size: 150%;
  padding: 10px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

.mobile-right {
  margin-top: 10px;
}

.mobile-right a {
  color: #dadcdd;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

.icon {
  color: #dadcdd;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: absolute;
  right: 0;
  top: 11px;
  margin-right: 10px;
  padding: 10px 10px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

#mobileLinks {
  display: none;
  background-color: transparent;
}

.mobile-right a:hover {
  color: #dadcdd;
}

.mobile-name {
  font-size: 1.3rem;
  color: #dadcdd;
}

/*Header*/
.header-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161d20;
  z-index: 0;
  height: 100vh;
}

.welcome-body {
  padding: 30px 0px;
  backdrop-filter: blur(0px);
  width: 100%;
}

.welcome-name {
  font-size: 7.5vw;
  font-weight: 700;
  color: rgb(205, 205, 205);
  margin-bottom: -10px;
  text-align: center;
}

.welcome-title {
  font-size: 1.7vw;
  font-weight: 400;
  color: rgb(205, 205, 205);
  margin-bottom: 0px;
  text-align: center;
}

.bible-quote {
  text-align: center;
}

.bible-quote span {
  margin-bottom: 10px;
}

.quote {
  font-style: italic;
  color: #899ea4;
  font-weight: 400;
  font-size: .9rem;
}

.quote-source {
  font-weight: 400;
  font-size: 0.9rem;
  color: #899ea4;
}

.portrait img {
  width: 250px;
  border-radius: 5px;
  margin: 0px 15px;
}

.header-background {
  animation: rotation 800s infinite linear;
  z-index: 0;
  position: absolute;
  width: 115%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.load-animation {
  display: none;
  position: absolute;
  z-index: 100;
  top: 88%;
  left: 49%;
}

.svg {
  opacity: .5;
  width: 70px;
  height: auto;
  animation: fade-scroll .1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1.5s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  /* filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3)); */
}

@keyframes fade-scroll {
  to {
    opacity: 0;
  }
}

/*About Me*/
.about-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  min-height: 400px;
}

.about-me-blip h5 {
  font-size: 1rem;
}

.slideshow-container {
  padding: 20px;
}

.slideshow {
  width: 120%;
}

.slideshow img {
  border: 0px;
  border-radius: 10px;
  width: 100%;
}

.slideshow video {
  border: 0px;
  border-radius: 10px;
  width: 100%;
  /* filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3)); */
}

.fade-in-slides img {
  animation: fadeIn 1s;
}

.fade-in-slides video {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dot {
  height: 3px;
  width: 15px;
  margin: 0 2px;
  background-color: #1e2b2e;
  transition: background-color 0.6s ease;
}

.dot-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: auto;
  width: 100%;
}

.active {
  background-color: #6a7d82;
}

/*Projects*/
.project-title {
  font-size: 3rem;
  margin-top: 0;
}

.pokemon-title {
  font-family: "Pokemon Pixel Font" !important;
  font-weight: normal;
  font-style: normal;
  transform: translateY(7px);
}

.luke-api-title {
  font-family: 'Star Wars', sans-serif !important;
  transform: translateY(7px);
}

.links-list {
  margin-top: 20px;
}

.links-list img {
  width: 60px;
  transition: 0.4s;
}

.svg-link img {
  filter: invert(89%) sepia(24%) saturate(95%) hue-rotate(148deg) brightness(87%) contrast(90%);
}

.svg-link img:hover {
  opacity: 0.5;
}

div.svg-link span {
  display: none;
  position: absolute;
  margin-top: 4.5rem;
  background: rgb(0, 0, 0, 0.3);
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  border: 0px;
  border-radius: 5px;
}

div.svg-link:hover span {
  display: block;
}

.projects-text ul {
  list-style: none;
  padding-left: 0;
}

.projects-text ul li:before {
  content: "• ";
  font-size: 20pt;
}

.projects-text {
  font-size: 1.2rem;
}

.projects-text p {
  font-weight: 400;
  font-size: 1rem;
}

.projects-text li {
  font-weight: 400;
  font-size: 1rem;
}

.project-width {
  width: 100%;
}

.projects-line {
  height: 1px;
  width: 90%;
  background-color: #314246;
  margin: 30px 0px;
}

.projects-card {
  padding: 30px 0px 40px 0px;
}

.loose-on-earth-logo {
  width: 70%;
  margin-left: -10px;
  margin-bottom: 10px;
}

.art-by-abby-logo {
  width: 50%;
  /* filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .5)); */
  margin-bottom: 10px;
}

.project-video-img {
  /* filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3)); */
}

/*Skills*/
.skills-card {
  padding: 30px 0px;
}

.skills-line {
  height: 0.5px;
  width: 100%;
  background-color: #314246;
  margin: 10px 0px;
}

.svg-flex {
  display: flex;
  justify-content: flex-end;
}

.svg-items img {
  height: 60px;
  margin: 0px 10px;
  image-rendering: crisp-edges;
}

div.software span {
  opacity: 0;
  position: absolute;
  background: rgb(0, 0, 0, 0.4);
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  border: 0px;
  border-radius: 5px;
  margin-top: .5rem;
  transition: .1s;
  backdrop-filter: blur(3px);
  pointer-events: none;
}

div.software:hover span {
  opacity: 1;
}

/*Education*/
.education-img img {
  border: 0px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  transform: translateY(20px);
}

.education-card {
  padding: 30px 0px 30px 0px;
}

.education-text h4 {
  font-size: 1.7rem;
}

.education-text h5 {
  font-size: 1.2rem;
}

/*Experience*/
.experience-top {
  margin-bottom: 30px;
}

.experience-img img {
  border: 0px;
  border-radius: 10%;
  height: 80px;
  width: 80px;
  /* filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3)); */
  transform: translateY(20px);
}

.personal-project-github-link img {
  width: 25px;
  margin: -20px 0px 0px 10px;
  filter: invert(83%) sepia(9%) saturate(557%) hue-rotate(146deg) brightness(90%) contrast(83%);
  transition: 0.4s;
  transform: translateY(10px);
}

.personal-project-github-link img:hover {
  opacity: 0.5;
}

div.personal-project-github-link span {
  display: none;
  position: absolute;
  margin-top: 3rem;
  background: rgb(0, 0, 0, 0.3);
  padding: 5px 10px;
  color: #fff;
  font-size: 1rem;
  border: 0px;
  border-radius: 5px;
  z-index: 2;
  backdrop-filter: blur(15px);
}

div.personal-project-github-link:hover span {
  display: block;
}

.project-title-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-title-link h4 {
  /* font-size: 1.4rem; */
}

.personal-projects {
  margin: auto;
}

.dig-gif {
  height: 150px;
}

.funkey-gif {
  height: 150px;
}

.watch-gif {
  height: 150px;
}

.experience-card {
  padding: 30px 0px;
}

/*Contact*/
.contact-lines {
  height: 0.5px;
  width: 100%;
  background-color: #314246;
}

div.contact-link span {
  display: none;
  position: absolute;
  margin-top: 4.7rem;
  background: rgb(0, 0, 0, 0.3);
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  border: 0px;
  border-radius: 5px;
}

div.contact-link:hover span {
  display: block;
}

.contact-body {
  height: 170px;
  padding: 30px;
}

.contact-link img {
  height: 45px;
  margin: 0px 50px;
  transition: 0.4s;
  filter: invert(89%) sepia(24%) saturate(95%) hue-rotate(148deg) brightness(87%) contrast(90%);
}

.contact-link img:hover {
  opacity: 0.5;
}

.bottom-name {
  color: #778b91;
  font-size: 1rem;
}