@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #111618;
}

*::-webkit-scrollbar-thumb {
    background-color: #192125;
    border-radius: 20px;
    border: 0px;
}

/*Universal and Containers*/
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    scroll-behavior: smooth;
}


.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -5px;
    transform: translateZ(-1px) scale(1.5);
    background-size: cover;
    z-index: -1;
}

/*Universal Classes*/
.card-style-1 {
    background-image: linear-gradient(180deg, rgba(30, 43, 46, 1) 0%, rgba(17, 22, 25, 1) 150%);
    color: #a2bcc3;
    padding: 20px;
    font-size: 2rem;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / .5);
    scroll-margin-top: 9rem;
}

.card-header {
    position: relative;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    scroll-margin-top: 5.7rem;
}

.card-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 5px #000;
    transform-style: preserve-3d;
    z-index: 1;
    padding-bottom: 30px;
}

.card-title h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: 400;
}

.card-text-blip {
    font-size: 1.5rem;
    margin-right: 100px;
}

body {
    position: relative;
}


/*Navbar*/
.my-navbar {
    padding: 20px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    font-size: 1.3rem;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / .5);
    backdrop-filter: blur(15px);
    z-index: 100;
}


.nav-left a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 2rem;
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.navlink {
    transition: 200ms;
}

/*Mobile Navbar*/
.mobile-nav {
    padding: 20px 10px 20px 10px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    color: white;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / .5);
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 100;
    visibility: hidden;
}

.mobile-left a {
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 150%;
    padding: 10px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

.mobile-right {
    margin-top: 10px;
}

.mobile-right a {
    color: white;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    position: relative;
    left: -10px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    margin-right: 10px;
    padding: 10px 10px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

#mobile-links {
    display: none;
}


.mobile-right a:hover {
    color: white;
}

.mobile-name {
    font-size: 1.3rem;
    color: white;
}

/*Header*/
.header-1 {
    position: relative;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 2px #000;
    transform-style: preserve-3d;
}

.portrait-quotes-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px 0px;
    backdrop-filter: blur(15px);
    width: 100%;
}

.bible-quotes-container {
    color: rgb(220, 220, 220);
}

.bible-quotes-container h1 {
    font-size: 3rem;
}

.bible-quote {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}


.bible-quote-source {
    font-weight: 400;
    color: #899ea4;
}

.portrait img {
    width: 300px;
    border-radius: 30px;
}

.header-bg::after {
    background-image: url('./assets/bg3.jpeg');
}


/*About Me*/
.about-me-title {
    color: rgb(224, 224, 224);
    font-weight: 500;
}

.about-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    min-height: 500px;
}

.slideshow-container {
    padding: 20px;
}

.slideshow {
    width: 120%;
}

.slideshow img {
    border: 0px;
    border-radius: 10px;
    width: 100%;
}

.slideshow video {
    border: 0px;
    border-radius: 10px;
    width: 100%;
}

.fade-in-slides img {
    animation: fadeIn 1s;
}

.fade-in-slides video {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dot {
    height: 3px;
    width: 15px;
    margin: 0 2px;
    background-color: #1e2b2e;
    transition: background-color 0.6s ease;
}

.dot-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin: auto;
    width: 100%;
}

.active {
    background-color: #6a7d82;
}


/*Projects*/
.projects-bg::after {
    background-image: url('./assets/bg4.jpg');
    height: 500px;
    top: -100px;
}


.bi-link {
    font-size: 5rem;
    color: white;
}

.bi-github {
    font-size: 3rem;
    color: white;
}

.links-list {
    margin-top: 20px;
}

.links-list img {
    width: 60px;
}


div.svg-link span {
    display: none;
    position: absolute;
    margin-top: 4.5rem;
    background: rgb(0, 0, 0, .3);
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    border: 0px;
    border-radius: 5px;
  }
  
  div.svg-link:hover span {
    display: block;
  }

  .project-title {
    text-align: center;
  }

  .projects-line {
    height: 1px;
    width: 74%;
    background-color: #314246;
    margin: 30px 0px;
  }

  .piet-pic img {
    width: 100%;
  }

  .projects-card {
    padding: 30px 0px 40px 0px;
  }


/*Skills*/
.skills-bg::after {
    background-image: url('./assets/bg6.jpg');
    height: 500px;
    top: -100px;
}


.skills-card {
    margin: 0px auto;
    min-height: 500px;
}

.skills-blip {

}

.skills-line {
    height: 1px;
    width: 100%;
    background-color: #314246;
    margin: 20px 0px;
}

.table-top-right-1 img {
    width: 12%;
    /* height: 100%; */
    margin: 0px 10px;
}

.table-top-right-2 img {
    width: 20%;
    /* height: 100%; */
    margin: 0px 10px;
}

.table-top-right-3 img {
    width: 40%;
    /* height: 100%; */
    margin: 0px 10px;
}


/*Education*/
.education-bg::after {
    background-image: url('./assets/bg4.jpg');
    height: 500px;
    top: -100px;
}

/*Experience*/
.experience-bg::after {
    background-image: url('./assets/bg4.jpg');
    height: 500px;
    top: -100px;
}


/*Contact*/
.contact-bg::after {
    background-image: url('./assets/bg4.jpg');
    height: 500px;
    top: -100px;
}

.card-title h2 {
    color: white;
    font-weight: 300;
}