/*Universal Classes*/
.inline {
  display: inline-block;
}

.margin-center {
  margin: auto;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-5 {
  gap: 4rem;
}

.center-align {
  text-align: center;
}

/*Media Queries*/

/*Phone Screen*/
@media only screen and (min-width: 240px) and (max-width: 767px) {
  .my-navbar {
    visibility: hidden;
  }

  #mobile-nav {
    visibility: visible;
  }

  .hide-for-mobile {
    display: none !important;
  }

  .flex-small {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-col-sm {
    flex: 1 0 0%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .my-col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .my-col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .my-col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .my-col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .my-col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .my-col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .my-col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .my-col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .my-col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .my-col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .my-col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .my-col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .welcome-text {
    font-size: 1.7rem;
  }

  .bible-quote {
    text-align: center;
  }

  .portrait img {
    width: 200px;
    margin-bottom: 20px;
  }

  .parallax img {
    width: 300%;
  }

  .parallax-header-style-1 {
    max-height: 15vh;
  }

  .parallax-header-style-2 {
    max-height: 17vh;
  }

  h1 {
    font-size: 2.3rem !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  h3 {
    font-size: 2.2rem !important;
    margin-bottom: 15px !important;
  }

  h4 {
    font-size: 1.7rem !important;
  }

  h5 {
    font-size: 1.3rem !important;
  }

  .card-section {
    font-size: 1.5rem;
  }

  .skills-line {
    width: 90%;
  }

  .card-text-blip {
    margin-right: 0px;
  }

  .slideshow {
    width: 100%;
  }

  div.svg-link span {
    display: block;
  }

  .links-list {
    margin-bottom: 70px;
  }

  .project-video-img video,
  img {
    width: 300px;
  }

  .header-1 {
    height: 100vh;
  }

  .header-background {
    animation: rotation 400s infinite linear;
    z-index: 0;
    position: absolute;
    width: 115%;
  }

  .welcome-body {
    margin: 0;
    padding: 0;
    max-height: 600px;
    margin-top: 20px;
  }

  .welcome-container {
    transform: scale(.9);
    line-height: 1rem;
  }

  .welcome-name {
    line-height: 4rem;
    margin-bottom: 30px;
  }

  .welcome-name-first {
    font-size: 28vw;
  }

  .welcome-name-last {
    font-size: 18vw;
  }

  .welcome-title-top {
    font-size: 4.61vw;
    margin-bottom: 20px;
    line-height: 2rem;
    text-align: justify;
    width: 80vw;
    margin: auto;
  }

  .welcome-title-bottom {
    font-size: 3.91vw;
    margin-bottom: 20px;
    line-height: 2rem;
    text-align: justify;
    width: 80vw;
    margin: auto;
  }

  .bible-quote {
    text-align: justify;
    width: 80vw;
    margin: auto;
  }

  .bible-quote h5 {
    font-size: 3.74vw !important;
    line-height: 1.5rem;
  }

  .load-animation {
    top: 93%;
    left: 43%;
  }

  .svg {
    animation-delay: calc(var(--scroll) * -2.5s);
    width: 50px;
  }

  .header-background {
    animation: rotation 800s infinite linear;
    z-index: -1;
    position: absolute;
    width: 300%;
  }

  .loose-on-earth-logo {
    width: 100%;
  }

  .projects-line {
    margin-bottom: 10px;
  }

  .project-title {
    margin-top: 0 !important;
    font-size: 2.2rem !important;
  }

  div.svg-link span {
    display: block;
    margin-top: 4.5rem;
    background-color: transparent;
    color: #bdcace;
    font-weight: 500 !important;
  }

  .luke-api-title {
    font-size: 2rem !important;
    margin-top: 0 !important;
  }

  .svg-flex {
    display: flex;
    justify-content: center;
  }

  .row-of-1 img {
    width: 20%;
    height: revert;
  }

  .row-of-3 img {
    width: 60%;
    height: revert;
  }

  .row-of-2 img {
    width: 40%;
    height: revert;
  }

  .skills-line {
    margin: 0px 0px 10px 0px;
  }

  div.gimp:hover span {
    display: none;
  }

  div.software:hover span {
    display: none;
  }

  .table-line {
    margin-bottom: 20px;
  }

  .layer-margin {
    margin-bottom: 20px;
  }

  .education-img img {
    border: 0px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .dig-gif {
    height: 160px;
    margin-bottom: 30px;
    width: revert;
  }

  .funkey-gif {
    width: 160px;
    margin-bottom: 30px;
  }

  .watch-gif {
    width: 160px;
    height: 200px;
  }

  div.personal-project-github-link:hover span {
    display: none;
  }

  .contact-link img {
    height: 50px;
    width: revert;
    margin: 10px 20px 60px 20px;
  }

  div.contact-link span {
    display: block;
    margin-top: 4.5rem;
    background-color: transparent;
    color: #bdcace;
    font-size: 1rem;
    font-weight: 500 !important;
  }

  .contact-body {
    height: 310px;
    padding: 10px;
  }

  .bottom-name {
    font-size: .7rem;
  }

  .card-text-blip {
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: 0px;
  }

  .card-text-blip p {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .projects-text li {
    font-size: 1.2rem;
  }

  .projects-text p {
    font-size: 1.2rem;
  }

  .card-text-blip span {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .project-width {
    width: 90%;
  }

  .project-video-img video {
    width: 90%;
  }

  .contact-image-container {
    margin-bottom: -20px;
    margin-top: 10px;
  }

  .contact-lines {
    display: none;
  }

  .art-by-abby-container {
    display: flex;
    justify-content: center;
  }

  .art-by-abby-logo {
    width: 90%;
  }
}

/*tablet*/
@media only screen and (min-width: 767px) and (max-width: 912px) {
  .my-navbar {
    visibility: hidden;
  }

  .hide-for-desktop {
    display: none !important;
  }

  #mobile-nav {
    visibility: visible;
  }

  .flex-med {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-small-on-med {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-col-md-1 {
    flex: 1 0 0%;
  }

  .my-col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .my-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .my-col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .my-col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .my-col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .my-col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .my-col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .my-col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .my-col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .my-col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .my-col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .header-1 {
    height: 110vh;
    margin-top: -100px;
  }

  .load-animation {
    top: 90%;
    left: 45%;
  }

  .welcome-container {
    margin-top: 90px;
  }

  .bible-quote {
    text-align: center;
  }

  .portrait img {
    width: 280px;
    margin-bottom: 20px;
  }

  .card-header {
    height: 15vh;
  }

  .parallax img {
    width: 300%;
  }

  .parallax-header-style-1 {
    max-height: 15vh;
  }

  .parallax-header-style-2 {
    max-height: 17vh;
  }

  h1 {
    font-size: 3.5rem !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  h2 {
    font-size: 3rem !important;
  }

  h3 {
    font-size: 2rem !important;
  }

  h4 {
    font-size: 1.7rem !important;
  }

  h5 {
    font-size: 1.3rem !important;
  }

  .card-section {
    font-size: 1.5rem;
  }

  .skills-line {
    width: 90%;
  }

  .card-text-blip {
    margin-right: 0px;
  }

  .slideshow {
    width: 100%;
  }

  div.svg-link span {
    display: block;
    margin-top: 4.5rem;
    background-color: transparent;
    color: #bdcace;
    font-weight: 500 !important;
  }

  .links-list {
    margin-bottom: 70px;
  }

  .project-video-img video,
  img {
    width: 600px;
  }

  .header-background {
    animation: rotation 800s infinite linear;
    z-index: -1;
    position: absolute;
    width: 300%;
  }

  .svg-flex {
    display: flex;
    justify-content: center;
  }

  .svg-items img {
    height: 60px;
    width: revert;
    margin: 0px 10px;
    image-rendering: crisp-edges;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
    z-index: 1;
  }

  .skills-line {
    margin: 0px 0px 20px 0px;
  }

  div.gimp:hover span {
    display: none;
  }

  div.software:hover span {
    display: none;
  }

  .table-line {
    margin-bottom: 30px;
  }

  .layer-margin {
    margin-bottom: 20px;
  }

  .education-img img {
    border: 0px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: 10px;
  }

  .dig-gif {
    height: 130px;
    width: revert;
  }

  .funkey-gif {
    height: 130px;
    width: revert;
  }

  .watch-gif {
    height: 130px;
    width: revert;
    margin-bottom: 20px;
  }

  .project-title-link h4 {
    font-size: 1rem;
  }

  div.personal-project-github-link:hover span {
    display: none;
  }

  .card-title h1 {
    font-size: 3rem;
    color: white;
    font-weight: 400;
  }

  .contact-link img {
    height: 70px;
    width: revert;
    margin: 10px 30px;
  }

  div.contact-link span {
    display: block;
  }

  .project-width {
    width: 80%;
  }

  .project-video-img video {
    width: 80%;
  }

  .contact-body {
    height: 200px;
    padding: 20px;
  }

  .contact-lines {
    display: none;
  }

  div.contact-link span {
    display: block;
    margin-top: 7rem;
    background-color: transparent;
    color: #bdcace;
    font-weight: 500 !important;
  }

  .contact-image-container {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 912px) {
  .my-navbar {
    visibility: visible;
  }

  .mobile-nav {
    visibility: hidden;
  }

  .hide-for-desktop {
    display: none !important;
  }
}