/*Universal Classes*/
.inline {
    display: inline-block;
}

.margin-center {
    margin: auto;
}


.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-5 {
    gap: 4rem;
}


.center-align {
    text-align: center;
}


/*Media Queries*/

/*Phone Screen*/
@media only screen and (min-width: 240px) and (max-width: 767px) {

    .my-navbar {
        visibility: hidden;
    }

    .mobile-nav {
        visibility: visible;
    }

    .flex-small {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-col-sm {
        flex: 1 0 0%;
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .my-col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .my-col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .my-col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .my-col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .my-col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .my-col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .my-col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .my-col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .my-col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .my-col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .my-col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .my-col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .welcome-container {
        margin-top: 100px;
    }

    .welcome-text h1 {
        font-size: 3rem;
        text-align: center;
    }

    .welcome-text h2 {
        font-size: 1.7rem;
        text-align: center;
    }


    .welcome-text .name,
    .title {
        font-size: 1.7rem;
    }

    .bible-quote {
        text-align: center;
    }


    .portrait img {
        width: 200px;
        margin-bottom: 20px;
    }


    .card-header {
        height: 15vh;
    }

    .card-title h1 {
        font-size: 2rem;
        color: white;
        font-weight: 400;
    }

    .card-section {
        font-size: 1.5rem;
    }

    .skills-line {
        width: 90%;
    }

    .card-text-blip {
        margin-right: 0px;
    }

    .slideshow {
        width: 100%;
    }

    div.svg-link span {
        display: block;
    }

    .links-list {
        margin-bottom: 70px;
    }

    .project-video-img video,
    img {
        width: 300px;
    }

    .header-1 {
        height: 100vh;
    }

    .header-background {
        animation: rotation 800s infinite linear;
        z-index: -1;
        position: absolute;
        width: 300%;
    }

    .svg-flex {
        display: flex;
        justify-content: center;
    }

    .row-of-1 img {
        width: 20%;
        height: revert;
    }

    .row-of-3 img {
        width: 60%;
        height: revert;
    }

    .row-of-2 img {
        width: 50%;
        height: revert;
    }

    .skills-line {
        margin: 0px 0px 10px 0px;
    }

    div.gimp:hover span {
        display: none;
    }

    div.software:hover span {
        display: none;
    }

    .table-line {
        margin-bottom: 20px;
    }

    .layer-margin {
        margin-bottom: 20px;
    }

    .education-img img {
        border: 0px;
        border-radius: 50%;
        width: 100px;
        margin-bottom: 10px;
    }

    .dig-gif {
        height: 190px;
        margin-bottom: 30px;
        width: revert;
    }

    .funkey-gif {
        width: 200px;
        margin-bottom: 30px;
    }

    .watch-gif {
        width: 200px;
        height: 243px;
    }

    div.personal-project-github-link:hover span {
        display: none;
    }
    
    #parallax1,
    #parallax2 {
        background-size: revert;
        height: 15vh;
    }

    #parallax3 {
        background-size: revert;
        background-image: url('./assets/bg13-2.jpg');
        height: 15vh;
    }

    #parallax4 {
        background-image: url('./assets/bg9-2.jpg');
        background-size: 210vh;
        height: 15vh;
    }

    #parallax5 {
        background-size: 100vh;
        background-image: url('./assets/bg11-2.jpg');
        height: 15vh;
    }

    
    #parallax2 {
        background-image: url('./assets/bg6-2.jpg');
    }

    .contact-link img {
        height: 70px;
        width: revert;
        margin: 10px 20px 60px 20px;
    }

    div.contact-link span {
        display: block;
        font-size: 1rem;
    }

    .card-text-blip {
        font-size: 1.3rem;
        font-weight: 400;
        margin-right: 0px;
    }

    .card-text-blip p {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .projects-text li {
        font-size: 1.2rem;
    }

    .projects-text p {
        font-size: 1.2rem;
    }
    
    .card-text-blip span {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .project-width {
        width: 90%;
    }

    .project-video-img video {
        width: 90%;
    }

    .contact-body {
        height: 320px;
        padding: 10px;
    }

    .contact-lines {
        display: none;
    }

    div.contact-link span {
        margin-top: 5.5rem;

    }

}

/*tablet*/
@media only screen and (min-width: 767px) and (max-width: 912px) {
    .my-navbar {
        visibility: hidden;
    }

    .mobile-nav {
        visibility: visible;
    }

    .flex-med {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flex-small-on-med {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-col-md-1 {
        flex: 1 0 0%;
    }

    .my-col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .my-col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .my-col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .my-col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .my-col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .my-col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .my-col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .my-col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .my-col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .my-col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .my-col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .header-1 {
        height: 90vh;

    }

    .welcome-container {
        margin-top: 90px;
    }

    .welcome-text h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .welcome-text h2 {
        font-size: 2rem;
        text-align: center;
    }


    .welcome-text .name,
    .title {
        font-size: 2.1rem;
    }

    .bible-quote {
        text-align: center;
    }

    .portrait img {
        width: 280px;
        margin-bottom: 20px;
    }

    .card-header {
        height: 15vh;
    }

    .card-title h1 {
        font-size: 2rem;
        color: white;
        font-weight: 400;
    }

    .card-section {
        font-size: 1.5rem;
    }

    .skills-line {
        width: 90%;
    }

    .card-text-blip {
        margin-right: 0px;
    }

    .slideshow {
        width: 100%;
    }

    div.svg-link span {
        display: block;
    }

    .links-list {
        margin-bottom: 70px;
    }

    .project-video-img video,
    img {
        width: 600px;
    }

    .header-background {
        animation: rotation 800s infinite linear;
        z-index: -1;
        position: absolute;
        width: 300%;
    }

    .svg-flex {
        display: flex;
        justify-content: center;
    }

    .row-of-1 img {
        width: 20%;
        height: revert;
    }

    .row-of-2 img {
        width: 35%;
        height: revert;
    }

    .row-of-3 img {
        width: 45%;
        height: revert;
    }

    .skills-line {
        margin: 0px 0px 20px 0px;
    }

    div.gimp:hover span {
        display: none;
    }

    div.software:hover span {
        display: none;
    }

    .table-line {
        margin-bottom: 30px;
    }

    .layer-margin {
        margin-bottom: 20px;
    }

    .education-img img {
        border: 0px;
        border-radius: 50%;
        width: 100px;
        margin-bottom: 10px;
    }

    .dig-gif {
        height: 130px;
        width: revert;
    }

    .funkey-gif {
        height: 130px;
        width: revert;
    }

    .watch-gif {
        height: 130px;
        width: revert;
        margin-bottom: 20px;
    }

    .project-title-link h4 {
        font-size: 1rem;
    }

    div.personal-project-github-link:hover span {
        display: none;
    }

    #parallax1{
        background-size: revert;
        height: 15vh;
    }

    #parallax2 {
        height: 15vh;
        background-size: revert;
        background-image: url('./assets/bg6-2.jpg');
    }

    #parallax3 {
        background-size: revert;
        background-image: url('./assets/bg13-2.jpg');
        height: 15vh;
    }

    #parallax4 {
        background-image: url('./assets/bg9-2.jpg');
        background-size: 210vh;
        height: 15vh;
    }

    #parallax5 {
        background-size: revert;
        background-image: url('./assets/bg11.jpg');
        height: 15vh;
    }

    
    #parallax2 {
        background-image: url('./assets/bg6-2.jpg');
    }

    .card-title h1 {
        font-size: 3rem;
        color: white;
        font-weight: 400;
    }

    .contact-link img {
        height: 80px;
        width: revert;
        margin: 10px 30px;
    }

    div.contact-link span {
        display: block;
    }

    .project-width {
        width: 80%;
    }

    .project-video-img video {
        width: 80%;
    }

    .contact-body {
        height: 200px;
        padding: 20px;
    }

    .contact-lines {
        display: none;
    }

    div.contact-link span {
        margin-top: 7rem;

    }
}